* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./resources/image/background.jpg");
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  padding: 2rem;
}

.playerTitle {
  margin-bottom: 3rem;
}

h2 {
  color: white;
}

.foreground {
  backdrop-filter: blur(15px);
  min-height: 100vh;
  text-align: center;
}

.selectBtn {
  margin-top: 10rem;
}

.selectBtn a {
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 1rem;
  border: 3px solid white;
}

.selectBtn a:hover {
  color: white;
}
