* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./resources/image/background.jpg");
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  padding: 2rem;
}

.playerTitle {
  margin-bottom: 3rem;
}

h2 {
  color: white;
}

.foreground {
  backdrop-filter: blur(15px);
  min-height: 100vh;
  text-align: center;
}

.selectBtn {
  margin-top: 10rem;
}

.selectBtn a {
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 1rem;
  border: 3px solid white;
}

.selectBtn a:hover {
  color: white;
}

.playground-container {
  display: flex;
  justify-content: center;
}

.pokemon-container {
  background-color: rgba(85, 184, 32, 0.3);
  border-radius: 20px;
  border: 1px solid white;
}

.poke-image {
  height: 20rem;
}

.pokemon-name {
  font-weight: 700;
  color: white;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid rgba(252, 229, 78, 0.5);
}

.stat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icons {
  width: 30px;
  margin: 0.5rem;
  accent-color: aliceblue;
}

.range {
  margin: 0 0.25rem;
  padding: 1.25rem;
  width: 15rem;
  accent-color: rgb(252, 229, 78);
}

/* progress::-moz-progress-bar { background: yellowgreen; }
progress::-webkit-progress-value { background: yellowgreen; }
progress { color: yellowgreen; } */

.stat-number {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  margin: auto 0;
  padding-left: 0.125rem;
}

.progress-outer {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

.progress-inner {
  background-color: orange;
  width: 40%;
  height: 20px;
  border-radius: 10px;
}